.path-local-dev .devscloud {
    background-color: white;
    margin-top: 3em;
    text-align: justify;
    line-height: 25px;
}

.path-local-dev .devscloud > span {
    vertical-align: middle;
}

.path-local-dev .box.versionselector label {
    margin-left: 1ex;
    margin-right: 1ex;
}

.path-local-dev .paging {
    margin: 1em auto;
}

.path-local-dev .initialbar a,
.path-local-dev .initialbar strong {
    margin-left: 0.3em;
}

.path-local-dev table.flexible {
    margin-left: auto;
    margin-right: auto;
}

.path-local-dev table.flexible td {
    text-align: center;
}

.path-local-dev table.flexible td.c1,
.path-local-dev table.flexible td.c2,
.path-local-dev table.flexible td.c3,
.path-local-dev table.flexible td.c4 {
    text-align: left;
}

.path-local-dev table.flexible td.c0 {
    padding: 3px;
}

.path-local-dev table.flexible tr:hover td {
    background-color: #efefef;
}

.path-local-dev pre.gitcommit {
    margin: 0.2em auto;
    background-color: white;
    border: 1px solid #efefef;
    padding: 0.5em;
    white-space: pre-wrap;
}

.path-local-dev .generalbox {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#page-dev-contributions .versionselector {
    margin: 2em 0 1em;
}

#page-dev-contributions .versionselector label {
    display: inline-block;
    margin-left: 0;
}

#page-dev-contributions .stats > div {
    display: inline-block;
    margin-right: 1em;
}

#page-dev-contributions .stats > div span {
    color: #f98012;
    font-weight: 300;
    font-size: 20px;
}
